<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.amount %></td>
      <td><%= link_to 'Show', product %></td>
      <td><%= link_to 'Edit', edit_product_path(product) %></td>
      <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
<br>
<% if user_signed_in? %>
<%= link_to 'Sign out', destroy_user_session_path, method:"delete"%>
<% else %>
  <%=link_to 'Sign in as a user', new_user_session_path %>
<% end %>
<br>
<% if manager_signed_in? %>
<%= link_to 'Sign out', destroy_manager_session_path, method:"delete"%>
<% else %>
  <%=link_to 'Sign in as a manager', new_manager_session_path %>
<% end %>